parameters:
	ignoreErrors:
		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Binary operation "\.\=" between mixed and mixed results in an error\.$#'
			identifier: assignOp.invalid
			count: 2
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Call to function is_null\(\) with Neutrino\\Error\\Error will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Cannot access offset ''pid'' on array\|bool\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Cannot access offset ''running'' on array\|bool\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Cannot access offset 1 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Cannot access offset 2 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Method Neutrino\\Process\\Process\:\:__construct\(\) has parameter \$cmd with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Method Neutrino\\Process\\Process\:\:__construct\(\) has parameter \$cwd with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Method Neutrino\\Process\\Process\:\:__construct\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Method Neutrino\\Process\\Process\:\:close\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Method Neutrino\\Process\\Process\:\:exec\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Method Neutrino\\Process\\Process\:\:getError\(\) should return string but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Method Neutrino\\Process\\Process\:\:getOutput\(\) should return string but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Method Neutrino\\Process\\Process\:\:read\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Method Neutrino\\Process\\Process\:\:read\(\) has parameter \$offset with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Method Neutrino\\Process\\Process\:\:read\(\) has parameter \$pipe with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Method Neutrino\\Process\\Process\:\:readError\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Method Neutrino\\Process\\Process\:\:readOutput\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Method Neutrino\\Process\\Process\:\:readStatus\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Method Neutrino\\Process\\Process\:\:readStatus\(\) should return array\|bool but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Method Neutrino\\Process\\Process\:\:wait\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Method Neutrino\\Process\\Process\:\:watch\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^PHPDoc tag @var with type Neutrino\\Error\\Error is not subtype of native type null\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Parameter \#1 \$callback of function set_error_handler expects \(callable\(int, string, string, int\)\: bool\)\|null, Closure\(mixed, mixed, mixed, mixed\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Parameter \#1 \$command of function proc_open expects list\<string\>\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Parameter \#1 \$process of function proc_terminate expects resource, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Parameter \#1 \$string of function strlen expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Parameter \#2 \$code of class Neutrino\\Process\\Exception constructor expects int, int\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Parameter \#2 \$descriptor_spec of function proc_open expects array\<1\|2, list\<string\>\|resource\>, array\{1\: resource\|false, 2\: resource\|false\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Parameter \#2 \$offset of function fseek expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Parameter \#4 \$cwd of function proc_open expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Parameter \#6 \$options of function proc_open expects array\<string, bool\>\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Property Neutrino\\Process\\Process\:\:\$cmd has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Property Neutrino\\Process\\Process\:\:\$content has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Property Neutrino\\Process\\Process\:\:\$cwd has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Property Neutrino\\Process\\Process\:\:\$error has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Property Neutrino\\Process\\Process\:\:\$options has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Property Neutrino\\Process\\Process\:\:\$pipes has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Property Neutrino\\Process\\Process\:\:\$proc has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Property Neutrino\\Process\\Process\:\:\$spec has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Property Neutrino\\Process\\Process\:\:\$status has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Neutrino/Process/Process.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/Neutrino/Process/Process.php
